.head {
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    /*Выравнивание блоков контекста по ширине*/
    justify-content: space-around;
    .div-head {
        width: 20%;
        text-align: center;
        display: grid;
        .div-list {
            position: fixed;
            width: 19.5%;
            display: none;
            margin-top: 15px;
            padding: 15px;
            .href {
                 margin-block: 10px;
            }
        }
}
}
.foot {
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    /*Выравнивание блоков контекста по ширине*/
    justify-content: space-around;
    .div-foot {
        width: 20%;
        text-align: center;
        display: grid;
        .href {
                 margin-block: 10px;
            }
}
}
.p {
    font-style: normal;
    font-weight: 600;
}
.href {
    text-decoration: none;
    font-weight: 600;
}
.div
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 20px;
    font-weight: 600;
    gap: 40px;
    .img {
            border-radius: 10px;
            border-width: 3px;
            margin-left: auto;
            margin-right: auto;
        }
}
.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.span-h1 {
    padding: 10px;
    border-radius: 10px;
    font-style: normal;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.span {
    padding: 10px;
    border-radius: 10px;
    font-style: normal;
    text-align: justify;
    gap: 20px;
    .href {
        .img {
            margin: -5px;
            margin-bottom: -10px;
            height: 50px;
            border-radius: 10px;
        }
    }
}
table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: separate; 
    border-spacing: 20px;
}
td {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
@media (max-width: 960px) {
    .head {
        display: none;
        .span, .p, .href, td {
            font-size: 18px;
        }
    }
    .foot {
        display: block;
        .span, .p, .href, td {
            font-size: 20px;
        }
        .div-foot {
            width: 100%;
            .href {
                width: 90%;
                text-align: right;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
    #tail_chemistry, #tail_biology, #tail_mathematics, #tail_medicine, #tail_about {
        text-align: left;
    }
}
