.div-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.head {
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    /*Выравнивание надписей по высоте*/
    /*align-items: center;
    /*
    align-content: end;*/
    /*Выравнивание блоков контекста по ширине*/
    justify-content: space-around;
    /*align-items: center;*/
    .div-head {
        width: 20%;
        text-align: center;
        display: grid;
        /*.href {
                 margin-block: 10px;
            }*/
        .div-list {
            position: fixed;
            width: 19.5%;
            display: none;
            /*position: absolute;*/
            margin-top: 15px;
            padding: 15px;
            .href {
                 margin-block: 10px;
            }
        }
}
}
.foot {
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    /*Выравнивание надписей по высоте*/
    /*align-items: center;
    /*
    align-content: end;*/
    /*Выравнивание блоков контекста по ширине*/
    justify-content: space-around;
    /*align-items: center;*/
    .div-foot {
        width: 20%;
        text-align: center;
        display: grid;
        .href {
                 margin-block: 10px;
            }
}
}
.p {
    font-style: normal;
    font-weight: 600;
}
.href {
    text-decoration: none;
    font-weight: 600;
}
.div
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 20px;
    margin-top: 0px;
    font-weight: 600;
}
.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.span {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    font-style: normal;
    text-align: justify;
    .href {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -25px;
        margin-bottom: -25px;
        .img {
            height: 70px;
            border-radius: 10px;
        }
    }
}
