@import "https://vadimrukavitsyn.github.io/styles.css"
.head {
    background-color: rgb(0, 176, 80);
    .div-head {
        .div-list {
            background-color: rgb(0, 176, 80);
        }
}
}
.href {
    color: rgb(192, 0, 0);
}
.span {
    color: rgb(192, 0, 0);
    background-color: rgb(0, 176, 80);
}
