@import "https://vadimrukavitsyn.github.io/styles.css";
.head {
    background-color: rgb(192, 0, 0);
    .div-head {
        .div-list {
            background-color: rgb(192, 0, 0);
        }
}
}
.href {
    color: white;
}
.span {
    color: white;
    background-color: rgb(192, 0, 0);
}
