@import "https://vadimrukavitsyn.github.io/styles.css";
.head {
    background-color: rgb(254, 80, 0);
    .div-head {
        .div-list {
            background-color: rgb(254, 80, 0);
        }
}
}
.foot {
    background-color: rgb(254, 80, 0);
}
.href {
    color: black;
}
.span {
    color: black;
    background-color: rgb(254, 80, 0);
}
