@import "https://vadimrukavitsyn.github.io/styles.css";
:root {
    --background-color: rgb(0, 176, 80);
    --color: rgb(192, 0, 0);
}
td {
    color: var(--color);
    background-color: var(--background-color);
    img {
        border-style: none;
    }
}
.div {
    .img {
    border-color: var(--color);
    border-style: solid;
}
}
.head {
    background-color: var(--background-color);
    .div-head {
        .div-list {
            background-color: var(--background-color);
        }
}
}
.foot {
    background-color: var(--background-color);
}
.href {
    color: var(--color);
}
.span {
    color: var(--color);
    background-color: var(--background-color);
}
.span-h1 {
    color: var(--color);
    background-color: var(--background-color);
}
